body {
  margin: 0;
  background-color: #0b0c10;
  color: white;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  transition: 0.3s;
}

.navbar.scrolled {
  background-color: #0d1117;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background-color: #161b22;

  position: sticky;
  top: 0;

  z-index: 1000;
}

/* Desktop Menu */

.desktop-menu {
  display: flex;

  gap: 20px;

  list-style: none;
}

.desktop-menu li {
  cursor: pointer;

  transition: 0.3s;
}

.desktop-menu li:hover {
  color: #0d6efd;
}

/* Right Side */

.nav-right {
  display: flex;
  align-items: center;
}

/* Mobile Menu */

.mobile-menu {
  position: absolute;

  top: 90px;
  right: 20px;

  background-color: #161b22;

  padding: 20px;

  border-radius: 10px;

  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 15px;

  width: 150px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

  animation: fadeIn 0.3s ease;
}

.mobile-menu li {
  cursor: pointer;

  transition: 0.3s;
}

.mobile-menu li:hover {
  color: #0d6efd;
}

/* Sections */

section {
  min-height: 80vh;

  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  text-align: center;
}

h2 {
  font-size: 40px;
}

p {
  max-width: 600px;

  line-height: 1.8;

  color: #c9d1d9;
}

/* Buttons */

button {
  padding: 12px 24px;

  border: none;
  border-radius: 8px;

  background-color: #0d6efd;

  color: white;

  cursor: pointer;

  font-size: 16px;

  transition: 0.3s;
}

button:hover {
  background-color: #1f6feb;
}

/* Skills */

.skills-container {
  display: flex;

  gap: 15px;

  flex-wrap: wrap;

  justify-content: center;
}

.skills-container h3 {
  background-color: #161b22;

  padding: 15px 20px;

  border-radius: 8px;
}

/* Projects */

.projects-container {
  display: flex;

  gap: 20px;

  flex-wrap: wrap;

  justify-content: center;
}

.project-card {
  background-color: #161b22;

  width: 250px;

  padding: 25px;

  border-radius: 10px;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card p {
  font-size: 15px;
}

/* Responsive Navbar */

.nav-right button {
  display: none;
}

@media (max-width: 768px) {

  nav {
    padding: 20px;
  }

  .desktop-menu {
    display: none;
  }

  .nav-right button {
    display: block;
  }

}

/* Animation */

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.top-button {
  position: fixed;

  bottom: 30px;
  right: 30px;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  font-size: 20px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.top-button:hover {
  transform: translateY(-5px);
}